

#menuNav {
    width: 60%;
    list-style-type: none; 
    margin: 10px;
    float: left;
    margin-top: 20px;
    text-align: center;
}


.listNav {
    display: inline;
    margin-right: 5%;
}


.textMenu {
    text-decoration: none;
    color: rgb(80, 24, 24);
    font-size: 16px;
}


.textMenu:hover {
    font-weight: bold;
    color: #390000;
}

@media (max-width: 900px) {
    

   #menuNav {
      width: 60%;
      list-style-type: none; 
      margin: 40px;
      float: left;
      margin-top: -30px;
      text-align: center;
   }


   .listNav {
      display: inline;
      margin-right: 5%;
   }


   .textMenu {
      text-decoration: none;
      color: rgb(80, 24, 24);
      height: 10%;
      font-size: 16px;
    } 

   
}